@import "bootstrap/scss/bootstrap";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 5px;
    color: #333333;
    background-color: #fff;
}

.form-button input {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.navbar {
  background: black;
  padding-bottom:  10px;
}

.form-design {
  display: block;
  margin-left: 100px;
  padding : 20px;
}

.form-title, .form-content, h5 {
  font-size: 20px;

}

.article{
  padding-top: 30px;
  margin-left: -10px;
}

#article_title, #article_content{
  width: 300px;
}

.content, .bottom{
  padding: 20px;
}

.content small {
 background-color: #E6E9EB
}

.article a {
  color: black;
}

.navbar-header a, .navbar-content a {
  color: white;
}

.navbar-header h5 {
  padding-top: 5px;
}

.review p{
display: flex;
}



